

/*/*@page {
    margin: 0cm 0cm;
}

/** Define now the real margins of every page in the PDF 
body {
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
}

/** Define the header rules
header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    /** Extra personal styles 
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 1.5cm;
}

/** Define the footer rules 
footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    /** Extra personal styles 
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 1.5cm;
}
*/


/* Leomar
    
 .header {
    text-align: center;
    color: green;
    padding-bottom: 35px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

table th {
    background-color: green;
    color: white;
}
    */

/* Leomar Linha
.page {
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    width: 2470px;
    height: 2230px;
}

.header {
    background-color: chocolate;
    width: 2470px;
    height: 260px;
}

.linha {
    background-color: cyan;
    width: 2470px;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    width: 2470px;
    height: 1700px;
}

.footer {
    background-color: cornflowerblue;
    width: 2470px;
    height: 260px;
}

.quebra-pagina {
    page-break-after: always;
    background-color: darkgray;
}
    */

/**
2480 X 3500

https://www.cursosdeinformaticabasica.com.br/qual-o-tamanho-de-uma-folha-a4-em-pixels/
 1 CM = 2,83 pixels **/





